In [1]:
import pandas as pd
df= pd.read_csv('cities.csv')
df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,kapaa,22.0752,-159.3190,26.99,77,40,6.17,US,1651608887
1,1,barrow,71.2906,-156.7887,-5.99,86,100,5.14,US,1651608707
2,2,busselton,-33.6500,115.3333,13.33,68,84,4.85,AU,1651608889
3,3,mar del plata,-38.0023,-57.5575,16.08,59,0,6.17,AR,1651608890
4,4,vaini,-21.2000,-175.2000,23.09,88,20,2.57,TO,1651608890
...,...,...,...,...,...,...,...,...,...,...
546,546,poshekhonye,58.4993,39.1353,2.33,90,100,3.29,RU,1651609201
547,547,santa rosalia,27.3167,-112.2833,26.61,33,98,2.33,MX,1651609201
548,548,boqueirao,-7.5000,-36.1333,26.75,73,25,5.61,BR,1651609202
549,549,panyutyne,48.9333,36.2833,10.82,56,29,2.27,UA,1651609203
550,550,quibor,9.9287,-69.6201,30.84,39,17,6.93,VE,1651609203

In [4]:

df.to_html('table.html',classes='table table-stripped',index=False)